/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    /* Background */
    --home-bg-gradient: linear-gradient(
        180deg,
        rgba(28, 83, 182, 1) 0%,
        rgba(5, 10, 19, 1) 100%
    );
    --home-bg-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23050A13' width='11' height='11'/%3E%3Crect fill='%23060c16' x='10' width='11' height='11'/%3E%3Crect fill='%23080e18' y='10' width='11' height='11'/%3E%3Crect fill='%23090f1a' x='20' width='11' height='11'/%3E%3Crect fill='%230a111d' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%230b121f' y='20' width='11' height='11'/%3E%3Crect fill='%230b1421' x='30' width='11' height='11'/%3E%3Crect fill='%230c1524' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%230c1626' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%230c1828' y='30' width='11' height='11'/%3E%3Crect fill='%230c192b' x='40' width='11' height='11'/%3E%3Crect fill='%230c1a2d' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%230c1b30' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%230c1c32' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%230b1d35' y='40' width='11' height='11'/%3E%3Crect fill='%230b1e38' x='50' width='11' height='11'/%3E%3Crect fill='%230b203a' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%230b213d' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%230a223f' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%230a2342' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%230a2444' y='50' width='11' height='11'/%3E%3Crect fill='%23092547' x='60' width='11' height='11'/%3E%3Crect fill='%2309274a' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2308284c' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2308294f' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23082a52' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23072b54' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23072c57' x='70' width='11' height='11'/%3E%3Crect fill='%23062e5a' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23062f5d' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2305305f' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23053162' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23043265' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23043368' x='80' width='11' height='11'/%3E%3Crect fill='%2304356a' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2303366d' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23033770' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23033873' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23033976' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23033a78' x='90' width='11' height='11'/%3E%3Crect fill='%23033c7b' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23033d7e' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23043e81' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23043f84' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23044087' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%2305418a' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2306428c' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2307448f' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23084592' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23094695' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%230b4798' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%230d489b' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%230e499e' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23104aa1' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23124ba3' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23134da6' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23154ea9' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23174fac' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%231950af' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%231B51B2' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");

    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* Size */
    --size-max-width: 1200px;

    /* Divider */
    --divider-multi-wave: url('data:image/svg+xml;utf8,<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path> <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path> <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path></svg>');
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid transparent;
}

/* Common */
.section {
    padding: 4em;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}

/* Header */
.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 250ms ease;
}

.header--dark {
    background-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* header logo img를 선택할 떄
.header__logo img라고 선택할 수 있지만
이는 성능에 좋지 않다. 해당 문서의 모든 img 태그들을
순회 하면서 찾고 거기서 .header__logo 클래스에 해당하는 것을
찾기 때문에 성능이 좋지 않음
*/
.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem;
}

.header__toggle {
    display: none;
    color: var(--color-white);
    font-size: 1.5rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* Home */
#home {
    /* background-color: var(--color-primary); */
    background: var(--home-bg-gradient);
    background-image: var(--home-bg-svg);
    background-size: cover;
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

#home::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 1.3px);
    height: 121px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: var(--color-black);
    mask: var(--divider-multi-wave);
    -webkit-mask: var(--divider-multi-wave);
}

.home__avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}

/* About */
.majors {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 2rem 0;
}

.major {
    background-color: var(--color-primary-variant);
    width: 18.75rem;
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;
}

.major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.major:hover .major__icon {
    transform: rotate(-15deg) scale(1.2);
}

/* Skills */
#skills {
    position: relative;
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

#skills::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(113% + 1.3px);
    height: 44px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: var(--color-primary);
    mask: var(--divider-multi-wave);
    -webkit-mask: var(--divider-multi-wave);
}

.skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.skills__title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills__coding {
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills__tools {
    padding: 1rem;
}

.skills__etc {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%);
}

.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metadata {
    display: flex;
    justify-content: space-between;
}

.bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar__value {
    height: 3px;
    background-color: var(--color-accent);
}

/* work */

/* .work__category {
    margin-bottom: 40px;
}

.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
    position: relative;
}

.category__btn.active,
.category__btn:hover {
    background-color: var(--color-dark-pink);
}

.category__btn:hover .category__count,
.category__btn.active .category__count {
    top: 5px;
    opacity: 1;
}

.category__count {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    line-height: 24px;
    color: var(--color-white);
    position: absolute;
    top: -30px;
    right: 10px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;

    transition: all var(--animation-duration) ease-in-out;
}

.work__projects.anima-out {
    opacity: 0;
    transform: scale(0.97) translateY(45px);
}

.project {
    margin: 2px;

    width: 280px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: var(--color-light-white);
}

.project.invisible {
    display: none;
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;

    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project__description h3 {
    color: var(--color-orange);
}

.project__description h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--color-dark-white);

    position: relative;
    left: 50%;

    transform: translateX(-50%);
    margin-top: 8px;
} */

/* Work */
#work {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.categories {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
}

.category {
    position: relative;
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    white-space: nowrap;
}

.category--selected {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.category__count {
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-accent-variant);
    color: var(--color-text);
    transition: all 250ms ease-in;
}

.category--selected .category__count,
.category:hover .category__count {
    opacity: 1;
    top: 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.project {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.project__img {
    width: 100%;
    height: 15rem;
}

.project__metadata {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in;
    transform: translateY(-10px);
}

.project__metadata:hover {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__title:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5rem 0;
    width: 50px;
    height: 2px;
    background-color: var(--color-accent);
}

/* Arrow up */
.arrow-up {
    background-color: var(--color-primary);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
}

/* Footer */
#contact {
    color: var(--color-black);
}

.contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

.contact__link {
    color: var(--color-black);
    transition: color 250ms ease-in;
}

.contact__link:hover {
    color: var(--color-accent);
}

@media screen and (max-width: 768px) {
    .section {
        padding: 4rem 2rem;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
        background-color: var(--color-primary);
    }

    .header__toggle {
        display: block;
    }

    .header__menu {
        display: none;
        flex-direction: column;
        text-align: center;
        margin: 1rem 4rem;
        gap: 1rem;
    }

    .header__menu.open {
        display: flex;
    }

    .header__nav {
        width: 100%;
    }

    #home {
        padding-bottom: 3rem;
    }

    .home__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .majors {
        flex-direction: column;
        align-items: center;
    }

    .major {
        max-width: 25rem;
    }

    .job {
        justify-content: center;
    }

    .skills {
        grid-template-columns: 1fr;
    }

    .categories {
        flex-direction: column;
    }

    .category {
        width: 100%;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .arrow-up {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}
